# Power BI
*.pbix~

# Archivos del sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints

# Notas privadas (IMPORTANTE)
notes_private/

# Datos temporales
#data/raw/tmp/
#data/raw/descargas_tmp/

# Variables de entorno
.env